<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">CodeTelecom</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/home" routerLinkActive="active" class="nav-link"
          >Home</a
        >
        <a routerLink="/panel" routerLinkActive="active" class="nav-link"
          >Panel</a
        >
      </div>
      <div class="ms-auto">
        <a
          routerLink="/login"
          routerLinkActive="active"
          role="button"
          class="btn btn-primary"
          [hidden]="isLoggedIn"
          >Login</a
        >

        <button
          class="btn btn-primary m-2 fs-5"
          (click)="logOut()"
          [hidden]="!isLoggedIn"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
