<div class="p-5">
  <app-add-post
    *ngIf="addClicked"
    [editModeOrAdd]="postModeAddorEdit"
    [newPostEdit]="recievedPostEdit"
    (newItemPostEvent)="updatePostsTable($event)"
  ></app-add-post>
  <table class="table bg-dark text-light">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">Body</th>
        <th scope="col">Edit</th>
        <td>
          <button class="btn btn-success rounded" (click)="addPost()">
            Add+
          </button>
        </td>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr *ngFor="let post of postsList">
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.title }}</td>
          <td>{{ post.body }}</td>
          <td>
            <button (click)="editPost(post.id)" class="btn btn-warning">
              Edit
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
