<div class="container d-flex bg-dark m-auto text-wrap align-items-center mt-3">
  <div class="row text-center m-auto justify-content-evenly">
    <ng-container *ngFor="let post of postsList">
      <div class="card col-3 m-1 p-2">
        <div class="card-body">
          <p class="card-text">{{ post?.id }}</p>

          <h5 class="card-title">{{ post?.title }}</h5>
          <div class="text-break">
            <p class="card-text">
              {{ post?.body }}
            </p>
          </div>
        </div>
        <div class="mb-0 p-2">
          <button class="btn btn-danger mx-2" (click)="deletePost(post.id)">
            Delete
          </button>
          <a
            class="btn btn-primary mx-2"
            role="button"
            routerLinkActive="active"
            [routerLink]="[currentUrl, post?.id]"
            >View</a
          >
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- [routerLink]="['/panel/comments/all/', comment.id]" -->
<!--  -->
