<div class="mt-5 w-50 text-center m-auto">
  <h4>{{ editModeOrAdd }}</h4>
  <form #postForm="ngForm" (ngSubmit)="addPost()">
    <div class="mb-3">
      <label for="postTitle" class="form-label">Post Title</label>
      <input
        type="text"
        class="form-control"
        name="postTitle"
        id="postTitle"
        [(ngModel)]="newPost.title"
      />
    </div>
    <div class="mb-3">
      <label for="postBody" class="form-label">Post Body</label>
      <input
        type="text"
        class="form-control"
        name="postBody"
        id="postBody"
        [(ngModel)]="newPost.body"
        required
      />
    </div>

    <div class="mb-3">
      <label for="userId" class="form-label">User Id</label>
      <input
        type="number"
        class="form-control"
        name="userId"
        id="userId"
        [(ngModel)]="newPost.userId"
      />
    </div>
    <button
      [disabled]="postForm.invalid"
      type="submit"
      class="btn btn-success mb-5"
    >
      Add Post
    </button>
  </form>
</div>
